{% extends 'workshop19/base.html' %}
{% block body %}

<h1>New</h1>
<form action='/workshop19/create/' method='POST'>
    <!--post로 받으려면 csrf_token이 필요함-->
    {% csrf_token %}
    <label for="name">NAME</label>
    <input type="text" name="name" id='name'/><br>
    <label for="email">EMAIL</label>
    <input type="text" name="email" id='email'/><br>
    <label for="birthday">BIRTHDAY</label>
    <input type="text" name="birthday" id='birthday'/><br>
        <label for="age">AGE</label>
    <input type="int" name="age" id='age'/><br>
  
    <input type="submit" value="Submit"/>
</form>
<a href="/workshop19/">BACK</a>
{% endblock %}
