{% extends 'base.html' %} {% block title %}INDEX{% endblock %} {% block body %}

<!--header-->
<header class="top text-center text-black d-flex align-items-center justify-content-center" id="top">
    <h1> PROJECT_05 </h1>
</header>






<!--   <ul>-->

<!--       <li> bbaannggssoo </li>-->
<!--       <li><a href="#top">상단으로 올라가기</a></li>-->
<!--   </ul>-->
<!--  </footer>-->

<ul class="nav bg-dark text-white fixed-bottom p-3">
    <li class="nav-item">
        bbaannggssoo
    </li>
    <li class="nav-item ml-auto">
        <a class="nav-link" href="#top">상단으로 올라가기</a>
    </li>
</ul>





{% endblock %}
