{% extends 'base.html' %} {% block title %}Q & A{% endblock %} {% block body %}
{% load static %}
<div class="container mt-4">

    <div class="card position-fixed" style="width: 18rem;">
        <img src="{% static '/images/olaf.jpeg' %}" class="card-img-top rounded-circle" alt="image">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">hello.my name is olaf. I LOVE SUMMER</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>


<div class="card mt-5 ml-auto" style="width: 18rem;">
  <img src="{% static '/images/hey.jpg' %}" class="card-img-top" alt="image">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
<div class="card mt-5 ml-auto" style="width: 18rem;">
  <img src="{% static '/images/hey.jpg' %}" class="card-img-top" alt="image">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
<div class="card mt-5 ml-auto" style="width: 18rem;">
  <img src="{% static '/images/hey.jpg' %}" class="card-img-top" alt="image">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
<div class="card mt-5 ml-auto" style="width: 18rem;">
  <img src="{% static '/images/hey.jpg' %}" class="card-img-top" alt="image">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>







</div>




{% endblock %}
