<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://www.google.co.kr/search" type="text/css" />
    <title>Document</title>
    
</head>
<body>
    <!--submit의 방향을 form 에서 지-->
    <form action="" target="_blank">
  <input type="text" name="q"><br>
  <input type="submit" name="search">
  <input type="submit" value="Submit">
</form>
    
    
</body>
</html>