<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Document</title>
    
</head>
<body>
    <!--submit의 방향을 form 에서 지정-->
    <form action="/pong">
        <!--controller 주소로 보내야 함 그게 pong이겠지?-->
  <input type="text" name="name"> <!--네이버-->
  <input type="text" name="msg">
  <input type="submit" value="Submit">
  <!--name이라는 이름이 붙어서 넘어감, 값은 판단 못하고, 이름표 name으로 판단함-->
  <!--name = 네이버--> 
  <!--딕셔너리처럼 동작하는 객체 [('name', '미세먼지')]-->
</form>
    
    
</body>
</html>